.navbar {font-family: 'Montserrat', sans-serif;}
.navbar img {height: 80px; width: 80px;}
#residents h2,
#residents h3 {margin: 0px 0px 0px 0px;}
#residents h2 {font-size: 80px; font-weight: 600;color: #D2AEEC}
#residents h3 {font-size: 20px;}
div.col-sm-12>img { height: 160px;width: 160px;border:2px solid white}
.row#flyer {padding: 10px 0px 30px 170px;}
.row#rowresidents{padding: 70px 0px 70px 0px;}

.offcanvas-top {height: 90vh;}
#mainNav .navbar-toggler {background-color: #F8C347;}

.offcanvas-header {background-color: #D2AEEC; text-align: center;}

.offcanvas-header a {color: white; font: bold; font-size: 20px;}
div.offcanvas-header>img {height: 80px;width: 80px;}
.offcanvas-header h3 {font-size: 40px; font-style: italic;}

.offcanvas-body {background-color: white;}
.offcanvas-body h2 {font-size: 45px; font-weight: bold;}
.offcanvas-body h3 {font-weight: medium;font-style: italic;font-size: 45px;}
div.offcanvas-body>div.row>div.col-sm-6>img {height: 270px; width: 480px;}
div.offcanvas-body>div.row>div.col-sm-6>img#sc,
div.offcanvas-body>div.row>div.col-sm-6>img#yt {width: 80px;height: 80px;padding: 20px 0px 0px 10px}
div.offcanvas-body>div.row>div.col-sm-6#colsc {border-left:10px solid white;}
div.offcanvas-body>div.row>div.col-sm-6#colsc,
div.offcanvas-body>div.row>div.col-sm-6#colyt {background-color: #D2AEEC;margin: 30px 0px 0px 0px;height: 270px;}
div.offcanvas-body>div.row>div.col-sm-6>ul.social-buttons li a {background-color: white; color: #D2AEEC;}
ul.social-buttons li a{font-size: 20px;
line-height: 40px;
display: block;
width: 45px;
height: 40px;
transition: all .3s;
color: #fff;
border-radius: 15px;
outline: #D2AEEC;
background-color: #D2AEEC;Margin: 5px 10px 0px 22px;}
ul.social-buttons{ margin: 10px 0px 0px 140px;}
.fa-instagram,
.fa-linkedin,
.fa-twitter,
.fa-soundcloud {margin:0px 0px 0px 14px; font-size: 30px;}
.btn {padding-bottom: 20px; height: 60px;
background-color: #D2AEEC;
font-weight: 500;
margin: 0px 0px 0px 0px;
width: 120px;
border-radius: 0px;
vertical-align: bottom;}
h4 {font-size: 25px; font-family:'Montserrat', sans-serif ; color:white;padding-top: 10px;font-weight: 300;}

h5 {font-size: 60px;}
p {font-family:'Montserrat', sans-serif ;}


body {background-color: #D2AEEC;font-family: 'Montserrat', sans-serif;}
section#residents {display: flex; flex-wrap: wrap;padding: 25px;font-family: 'Montserrat', sans-serif;background-color: #ffffff;}

div.carousel-item>img { height: 390px;width: 62%; border: 3px solid #D2AEEC;margin: 30px 0px 70px 260px;}
.carousel-indicators [data-bs-target]{
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 6px;
    padding: 0;
    margin-right: 40px;
    margin-left: 40px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #D2AEEC;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    transition: opacity .6s ease;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {background-color: transparent; background-image: none;}
section#releases {display: flex; flex-wrap: wrap;padding: 25px;font-family: 'Montserrat', sans-serif;background-color: #D2AEEC;}


section#eventos {display: flex; flex-wrap: wrap;padding: 25px;font-family: 'Montserrat', sans-serif;background-color: white;}
section#eventos h2 {color:#D2AEEC ;font-size: 80px; font-weight: 600;}
section#team {display: flex;flex-wrap: wrap;padding: 25px;font-family: 'Montserrat', sans-serif;background-color: #D2AEEC;}
.team-member h4 {font-size: large;}
.team-member img.rounded-circle {height: 200px;width: 200px; border: 2px solid white; margin:0px 0px 0px 38px ;}
.team-member img { width: 40px;height: 41px; border: none;}
li.list-inline-item+
.timeline-image img {height: 160px;width: 180px; border-radius: 180px;padding: auto;}
section#contact {display: flex; flex-wrap: wrap;font-family: 'Montserrat', sans-serif;padding: 25px;background-color: #ffffff;}
section#contact h2 {color: #D2AEEC;font-size: 80px; font-weight: 600;}
section#contact .section-heading {color: #D2AEEC;}
footer {display: flex; flex-wrap: wrap;font-family: 'Montserrat', sans-serif;padding: 25px;background-color: #D2AEEC;}
.masthead {background-color: #D2AEEC; display: flex; flex-wrap: wrap;font-family: 'Montserrat', sans-serif;padding: 25px;}
.timeline h4 {color: black;}

#sendMessageButton {width: 100%; font-family:'Montserrat', sans-serif; color: white;}
footer ul>h3 {font-size: 20px; font-weight: 300;}
footer .fab {font-weight: 400;
    font-size: 42px;
    color: white;
}

section#releases .col-sm-4#ep {background-color: white ;}
section#releases .col-sm-4#releasescol {background-color: white;}
section#releases .col-sm-4 {margin: 20px 90px 0px 100px}
section#releases h2 {margin-top: 10px;font-size: 80px; font-weight: 600; color: #D2AEEC;}
section#releases .col-sm-12 {margin: 0px;} 
a {background-color: none;}
.timeline>li .timeline-image {background-color: #F8C347; border: #D2AEEC;}
div#offcanvasbody ul.social-buttons li a{background-color:white; color:#D2AEEC; }



/* RESPONSIVE */

@media (max-width: 768px){
    .row#flyer {
    padding: 10px 0px 0px 90px;}
    div.carousel-item>img {height: 280px;margin: 50px 0px 70px 0px; width: 100%;}
    .btn {height: 100px;width: 100px;}
    section#releases .col-sm-4#releasescol {margin:20px 0px 0px 0px}
    section#releases .col-sm-4#ep {margin: 20px 0px}
    .timeline>li .timeline-image {margin-left: 120px;}


}

/* HOVER */
a.nav-link:hover {color:#F8C347; transition: 0,4s;}
#sendMessageButton:hover{transition: 0,8s; color: #F8C347;}
.fa-instagram:hover,
.fa-soundcloud:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.btn:hover {transition: 0.4s;
    color: #F8C347;
}
a:hover {transition: 0,4s;
color:#D2AEEC ;background-color: none;}
a::selection{background-color: #D2AEEC;}
ul.social-buttons li a:hover {background-color:#D2AEEC;}
#mainNav .navbar-toggler {transition: 0,4s;color: white;}