.navbar {font-family: 'Montserrat', sans-serif; position:fixed; width: 100%;}
.navbar img {height: 80px; width: 80px;}
div.intro-text>img {width: 520px;height: 420px;     width: 520px;
    height: 420px;
    padding: 150px 0px 0px 0px;
    margin-top: -130px;
}
#residents h2,
#residents h3 {margin: 0px 0px 0px 0px;}
#residents h2 {font-size: 80px; font-weight: 600;color: #D2AEEC}
#residents h3 {font-size: 20px;}
div.col-sm-6>img { height: 180px;width: 220px;border:2px solid #F8C347; margin:0px 0px 5px 110px; margin-right: -45px;}
.row#flyer {padding: 0px 0px 0px 0px;}
.row#rowresidents{padding: 0px 0px 0px 0px;}

header.masthead .intro-text {padding-top: 110px;
    padding-bottom: 0px;
}




.offcanvas-top {height: auto;}
#mainNav .navbar-toggler {background-color: #F8C347;position: relative;}

.offcanvas-header {background-color: #D2AEEC; text-align: center;}

.offcanvas-header a {color: white; font: bold; font-size: 20px;}
div.offcanvas-header>img {height: 80px;width: 80px;}
.offcanvas-header h3 {font-size: 20px; font-style: italic;color: white;}

.offcanvas-body {background-color: white;}
.offcanvas-body h2 {font-size: 45px; font-weight: bold; margin-bottom: 1pt;}
.offcanvas-body h3 {font-weight: medium;font-style: italic;font-size: 23px; margin-top: 1pt;}
div.col-sm-12>img#sc,
div.col-sm-12>img#yt {width: 70px;height: 70px;padding: 10px 0px 0px 0px; border: none;}
div.offcanvas-body>div.row>div.col-sm-6#colyt {border-right: white 10px solid;}
div.offcanvas-body>div.row>div.col-sm-6#colsc {border-left:10px solid white;}
div.offcanvas-body>div.row>div.col-sm-6#colsc,
div.offcanvas-body>div.row>div.col-sm-6#colyt {background-color: #D2AEEC;margin: 30px 0px 0px 0px;height: 420px;}
div.offcanvas-body>div.row-justify-content-center>div.col-sm-6#colyt
div.offcanvas-body>div.row-justify-content-center>div.col-sm-6#bio {border-left:10px solid white;}
div.offcanvas-body>div.row-justify-content-center>div.col-sm-6#perfil,
div.offcanvas-body>div.row-justify-content-center>div.col-sm-6#bio {margin: 10px 0px 70px 5px;height:270px;}
div.row>div.col-sm-6>iframe {height: 150px; width: 150px; border: white solid 5px;margin: 10px 0px 0px 70px}


div.row>div.col-sm-6>iframe#hellcast {margin: 0px 0px 0px 0px;}
div.row>div.col-sm-6>h5 {font-weight: 300;font-size: 20px;color: white; margin:50px 0px 120px -15px;}
div.row>div.col-sm-6>h5>strong {font-weight: 500;}
h6 {font-weight: 500; font-family:'Montserrat', sans-serif;margin-top: 30px ; margin-bottom: 15px;font-size: 20px;background-color: #F8C347;color: black;}
div.offcanvas-body>div.row>div.col-sm-4>ul.social-buttons li a {background-color: white; color: #D2AEEC;}
ul.social-buttons li a{font-size: 20px;
line-height: 40px;
display: block;
width: 45px;
height: 40px;
transition: all .3s;
color: #fff;
border-radius: 15px;
outline: #D2AEEC;
background-color: #D2AEEC;Margin: 5px 10px 0px 22px;}
ul.social-buttons{ margin: 0px 0px 0px 72px;}
.fa-instagram,
.fa-linkedin,
.fa-twitter,
.fa-soundcloud {margin:0px 0px 0px 14px; font-size: 30px;}
.btn {padding-bottom: 20px; height: 60px;
background-color: #D2AEEC;
font-weight: 500;
margin: 0px 0px 0px 0px;
width: 120px;
border-radius: 0px;
vertical-align: bottom;}
h4 {font-size: 25px; font-family:'Montserrat', sans-serif ; color:white;padding-top: 10px;font-weight: 300;}

h5 {font-size: 60px;}
p {font-family:'Montserrat', sans-serif ;}


body {background-color: #D2AEEC;font-family: 'Montserrat', sans-serif; flex-wrap: wrap;flex-direction: column;}
section#residents {display: flex; flex-wrap: wrap;padding: 25px;font-family: 'Montserrat', sans-serif;background-color: #ffffff;}

div.carousel-item>img { height: 620px;width: 100%; border: 3px solid #D2AEEC;margin: 40px 0px 0px 0px;}
.carousel-indicators{
    box-sizing: content-box;
    flex: 0 1 auto;
    bottom:20px ;
    width: 80%;
    height: 28px;
    padding: 2px;
    margin-right: 0px;
    margin-left: 100px;
    text-indent: -99px;
    cursor: pointer;
    margin: 0px 0px 0px 93px;
    
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    transition: opacity .6s ease;
}
.carousel-indicators
.carousel-control-prev-icon,
.carousel-control-next-icon {background-color: transparent;  height: 15px; width: 10px;}
section#releases {display: flex; flex-wrap: wrap;padding: 25px;font-family: 'Montserrat', sans-serif;background-color: #D2AEEC;}


section#eventos {display: flex; flex-wrap: wrap;padding: 25px;font-family: 'Montserrat', sans-serif;background-color: white;}

section#eventos h2 {color:#D2AEEC ;font-size: 80px; font-weight: 600;}
section#team {display: flex;flex-wrap: wrap;padding: 25px;font-family: 'Montserrat', sans-serif;background-color: #D2AEEC;}
.team-member h4 {font-size: large; margin: 0px 0px 0px 28px;font-weight: bold;}
.team-member p {margin: 0px 0px 0px 28px;}
.team-member img.rounded-circle {height: 200px;width: 200px; border: 2px solid white; margin:0px 0px 0px 38px ;}
.team-member img { width: 40px;height: 40px; border: none; margin: 0px 0px 0px 0px;}
.team-member ul.social-buttons {margin: 0px 0px 0px 10px;}

section#contact {display: flex; flex-wrap: wrap;font-family: 'Montserrat', sans-serif;padding: 25px;background-color: #ffffff;}
section#contact h2 {color: #D2AEEC;font-size: 80px; font-weight: 600;}
section#contact .section-heading {color: #D2AEEC;}
footer {display: flex; flex-wrap: wrap;font-family: 'Montserrat', sans-serif;padding: 25px;background-color: #D2AEEC;}
.masthead {background-color: #D2AEEC; display: flex; flex-wrap: wrap;font-family: 'Montserrat', sans-serif;padding: 25px;}


#sendMessageButton {width: 100%; font-family:'Montserrat', sans-serif; color: white;}
footer ul>h3 {font-size: 20px; font-weight: 300;}
footer img {font-weight: 400;font-size: 42px;
color: white;}

section#releases .col-sm-6#ep {background-color: white ;border-left: 10px solid #D2AEEC;flex-wrap: wrap; flex-direction: column;}
section#releases .col-sm-6#releasescol {background-color: white; flex-wrap: wrap; flex-direction: column;border-right: #D2AEEC 10px solid;}
section#releases .col-sm-6 {margin: 25px 0px 25px -25px}
section#releases h2 {margin-top: 10px;font-size: 80px; font-weight: 600; color: #D2AEEC;}

section#releases .col-sm-6>h3 {font-family: 'Montserrat', sans-serif; margin: 60px 0px 0px 0px;font-size: 15px; font-style: italic; font-weight: 700;text-align: start;}
section#releases .col-sm-6>h3>strong {font-style: normal;}
section#releases .col-sm-6>p {font-family: 'Montserrat', sans-serif;margin-top: 5px;line-height: 15px;text-align: start;margin-left: 0px;}
section#releases .col-sm-6>a>img {height: 50px; width: 100px; margin-top: -10px;}


a {background-color: none;}
.img#cartelseeu {width: 150px; width: 150px;}

ul.social-buttons {margin: 0px 0px 0px 195px;}
div.intro-lead-in>span {font-weight: 600; font-size: 50px; font-family:'Montserrat', sans-serif ;line-height: 48px;}
div.intro-heading>span {font-weight: 300; font-size: 30px;font-family: 'Montserrat', sans-serif; font-style: italic;}

/* RESPONSIVE */

@media(max-width: 425px){
    body {width: 425px;}
    .row#flyer {
    padding: 10px 0px 0px 90px;}
    .carousel-item>img {height: 320px;margin: 30px 0px 70px 102px; width: 100%;display: flex;}
    .carousel-item {display: flex;}
    .btn {display:flex;}
    section#releases .col-sm-4#releasescol {margin:20px 0px 0px 0px}
    section#releases .col-sm-4#ep {margin: 20px 0px; border: none;}
    .timeline>li .timeline-image {margin-left: 120px;}
    section#releases .col-sm-4#ep {border: none;}
    .navbar {display: contents;}
 
    nav.navbar.fixed-top {position:relative !important;}
}

/* HOVER */
a.nav-link:hover {color:#F8C347; transition: 0,4s;}
#sendMessageButton:hover{transition: 0,8s; color: #F8C347;}
.fa-instagram:hover,
.fa-soundcloud:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.btn:hover {transition: 0.4s;
    color: #F8C347;
}
a:hover {transition: 0,4s;
color:#D2AEEC ;background-color: none;}
a::selection{background-color: #D2AEEC;}
ul.social-buttons li a:hover {background-color:#D2AEEC;}
#mainNav .navbar-toggler {transition: 0,4s;color: white;}